<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="Local"/>
    <add key="Browser" value="Chrome"/>
    <add key="TimeOut" value="10"/>
    <add key="URL" value="https://iniitian.niit-tech.com/ntlessnet/authentication/loginauth.aspx"/>
    <add key="Username" value="00076869"/>
    <add key="Password" value="May@2020"/>
    <add key="ShiftStartTime" value="12" />
    <add key="ShiftEndTime" value="21"/>
    <add key="WFH" value="Yes"/>
  </appSettings>  
</configuration>